<div class="span-3" id="bookmark-edit-div">
	<%= simple_form_for [topic, bookmark], method: :patch, remote: true do |f| %>
		<%= f.input :url %>
		<%= f.button :submit, class: 'btn btn-success btn-xs' %>
	<% end %>
</div>