<div class="container-fluid">
	<div class="container">
		<div class="page-header">
		<h1 align="center">Topics</h1>
		</div>
	</div>


	<br / >
	<br />
	<div class="container">
		<div class="new-button">
			<%= link_to "New Topic", new_user_topic_path, class: 'btn btn-success', remote: true %><br />
		</div><br/>

		<div class="container" id="topics-container">
			<%= render @user.topics %>
		</div>

	</div>

